{#
page regions defined in laurel.info.yml:
  header           : 'Header'
  primary_menu     : 'Menu 1'
  announcements    : 'Announcements'
  highlighted      : 'Highlighted'
  help             : 'Help'
  breadcrumb       : 'Breadcrumb'
  content_metadata : 'Content Metadata'
  content          : 'Main'
  endnotes         : 'Endnotes'
  footer           : 'Footer'
  secondary_menu   : 'Menu 2'
  copyright        : 'Copyright'

markup based loosely on
https://codepen.io/aardrian/pen/BgQqrQ
with larger discussion at
https://css-tricks.com/how-to-section-your-html/
and specifically
https://css-tricks.com/how-to-section-your-html/#sectioning-content
and
https://i1.wp.com/css-tricks.com/wp-content/uploads/2019/06/sections-diagram.png?resize=1024%2C656&ssl=1
#}
<header>
  <div class="region-header">
    {{ page.header }}
  </div>
  <nav class="region-primary">
    {{ page.primary_menu }}
  </nav>
  {% if page.announcements %}
  <div class="region-announcements">
    {{ page.announcements }}
  </div>
  {% endif %}
  {% if page.highlighted %}
  <div class="region-highlighted">
    {{ page.highlighted }}
  </div>
  {% endif %}
  {% if page.help %}
  <div class="region-help">
    {{ page.help }}
  </div>
  {% endif %}
  {% if page.breadcrumb %}
  <nav class="region-breadcrumb">
    {{ page.breadcrumb }}
  </nav>
  {% endif %}
  {% if page.content_metadata %}
  <div class="region-content-metadata">
    {{ page.content_metadata }}
  </div>
  {% endif %}
</header>
<main class="region-body">
  <a class="region-main-content" tabindex="-1"></a>
  {{ page.content }}
</main>
{% if page.endnotes %}
<div class="region-endnotes">
  {{ page.endnotes }}
</div>
{% endif %}
<footer>
  {#
    “typically the <footer> element often has a list of links that don't need to be in a <nav> element.”

    source: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav#Usage_notes

    so within <footer> we use <div> instead of <nav> for lists of links
  #}
  {% if page.footer %}
  <div class="region-footer">
    {{ page.footer }}
  </div>
  {% endif %}
  {% if page.secondary_menu %}
  <div class="region-nav-secondary">
    {{ page.secondary_menu }}
  </div>
  {% endif %}
  {% if page.copyright %}
  <div class="region-copyright">
    {{ page.copyright }}
  </div>
  {% endif %}
</footer>
